* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Work Sans", "Roboto", sans-serif;
}

/* -------  Header -------- */

.header-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 150px;
  border-bottom: 2px solid #7d97ad;
}

.logo {
  align-self: center;
}
.logo-img {
  width: 8rem;
  display: inline-block;
}

h1.name {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

.name {
  font-size: 2.5rem;
}

.name-container {
  align-self: center;
  text-align: right;
  display: inline-block;
}

.top-img {
  width: 100%;
  min-height: 650px;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.bg-image {
  position: absolute;
  background: #fff url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?ixlib=rb-0.3.5&s=9444343427346a400967c12419759570&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1280px;
  height: 650px;
  z-index: -1;
}

.content {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: 450px;
  grid-gap: 1.5rem;
}

.work-card {
  width: 100%;
  min-width: 320px;
  background-color: steelblue;
  margin-top: 2rem;
}

.img {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 60%;

}


@media screen and (min-width: 720px) {
  
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}