* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Work Sans", "Roboto", sans-serif;
}

/* -------  Header -------- */

.header-top {
  min-height: 150px;
  border-bottom: 2px solid #7d97ad;
}

.logo {
  width: 8rem;
}

.top-img {
  min-height: 650px;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.bg-image {
  position: absolute;
  background: #fff url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?ixlib=rb-0.3.5&s=9444343427346a400967c12419759570&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1280px;
  height: 650px;
  z-index: -1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  display: grid;
  
}