* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 .8rem;
  color: #2d3c49;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

/* -------  Header -------- */

.header-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 150px;
  min-width: 320px;
  padding: 20px;
  border-bottom: 2px solid #7d97ad;
}

.logo {
  align-self: center;
}

.logo-img {
  width: 6rem;
  display: inline-block;
}

.name-container {
  align-self: center;
  text-align: right;
  display: inline-block;
}

.name-container h1{
  margin-top: 1.2rem;
  text-transform: uppercase;
}

.top-img {
  width: 100%;
  min-width: 320px;
  height: 450px;
  color: #fff;
  text-align: center;
  margin: 2rem 0 2rem 0;
  overflow: hidden;
}

.bg-image {
  background: #fff url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?ixlib=rb-0.3.5&s=9444343427346a400967c12419759570&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  max-width: 1280px;
  /* z-index: -1; */
}

main {
  width: 100%;
  margin: 0 auto;
}
.works-heading h1 {
  display: block;
  color: #7d97ad;
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 3rem;
}

.content {
  display: grid;
  /* grid-auto-rows: 450px; */
  grid-gap: 1.5rem;
}

.work-card {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  margin-top: 2rem;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #7d97ad;
  border-radius: 8px;
}

.work-card img {
  width: 100%;
  display: block;
  border: 1px solid #7d97ad;
  border-radius: 5px;
}

.link {
  margin-bottom: 20px;
}

.link a {
  color: #7d97ad;
  text-decoration: none;
}

.link a:hover,
.link a:active,
.link a:focus {
  color: #2d3c49;
}

.footer {
  width: 100%;
  min-width: 320px;
  height: 200px;
  color: #fff;
  margin-top: 5rem;
  padding: 10px;
  text-align: center;
  background-color: #1d5280;
}

@media screen and (max-width: 360px) {
  .header-top {
    grid-template-columns: 3fr;
  }

  .logo {
    margin: 0 auto;    
  }

  .name-container {
    text-align: center;
  }

  .works-heading {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {

  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}